* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

main .container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}

main .container section {
  padding: 30px 0;
}

main .container section .products-wrapper {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

main .container section .products-wrapper > div {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
